.burgerLine {
	width: 2.5rem;
	height: 2.5rem;
	left: 2rem;
	top: 2rem;
  	position: relative;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	z-index: 2;

	div {
		width: 2.5rem;
		height: 0.25rem;
		border-radius: 5px;
		background-color: #fff;
		transform-origin: 1px;
		transition: all 0.3 linear;

		&:nth-child(1) {
			&.isActive {
				transform: rotate(45deg);
			}
		}
		&:nth-child(2) {
			&.isActive {
				opacity:0;
			}
		}
		&:nth-child(3) {
			&.isActive {
				transform: rotate(-45deg);
			}
		}
	}
}
