@import '../../styles/settings.scss';


.burgerLine {
	width: 2.5rem;
	height: 2.5rem;
	position: fixed;
	left: 2rem;
	top: 2rem;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	z-index: 20;

	div {
		width: 2.5rem;
		height: 0.25rem;
		border-radius: 5px;
		background-color: #fff;
		transform-origin: 1px;
		transition: all 0.3 linear;

		&:nth-child(1) {
			&.isActive {
				transform: rotate(45deg);
			}
		}
		&:nth-child(2) {
			&.isActive {
				opacity:0;
			}
		}
		&:nth-child(3) {
			&.isActive {
				transform: rotate(-45deg);
			}
		}
	}
}

.content {
	opacity: 1;
	transition: opacity 1s ease-in-out;
	&.isActive {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}
}

.title {
	padding: ($base-size * 3) 0;
	text-align: center;
	font-size: ($base-size * 3);
	text-transform: uppercase;
  }
  
  .subtitle {
	padding: ($base-size * 2) 0;
	text-align: center;
	font-size: ($base-size * 2);
	font-style: italic;
	font-weight: normal;
  }
  
  .title + .subtitle {
	margin-top: (- $base-size * 3);
  }
