@import '../../styles/settings.scss';

.component {
  display: flex;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
